botocore
urllib3

aiohttp
aiosignal
asgiref
asyncio
attrs
autobahn
certifi
cffi
channels
channels-redis
charset-normalizer
colorama
constantly
daphne
dateparser
dj-database-url
daphne
Django
django-cors-headers
django-extensions
djangorestframework
eventkit
frozenlist
fyers_apiv3
h11
ib-insync
idna
incremental
jmespath
msgpack
multidict
multitasking
nest-asyncio
platformdirs
propcache
psycopg2-binary
python-binance
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
redis
regex
service-identity
setuptools
simple-websocket
tzdata
webencodings
websocket-client
websockets
wheel
gunicorn
whitenoise
